opencv-python
sklearn
matplotlib
numpy
pandas
tqdm
networkx
jupyterlab
tensorflow-hub
tensorflow_text==2.8.1
transformers
sentence-transformers
ipywidgets
umap-learn
umap-learn[plot]
git+git://github.com/simon987/hexlib.git
datasets
